.indexPageContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    background-color: rosybrown;
    height: 80px;
    width: 100%;
  }
  p {
    width: 100%;
    font-size: 20px;
    margin-top: 50px;
    padding: 0px 100px;
    line-height: 35px;
    @media (max-width: 810px) {
      font-size: 22px;
      margin-top: 30px;
      padding: 0px 20px;
    }
    @media (max-width: 700px) {
      font-size: 20px;
      margin-top: 30px;
      padding: 0px 20px;
    }
    @media (max-width: 650px) {
      font-size: 18px;
      margin-top: 30px;
      padding: 0px 20px;
    }
  }
}
