$firstC: rosybrown;
$blue: rgba(52, 56, 73, 0.8);

.nav_links {
  display: flex;
  justify-content: center;
  list-style-type: none;
  background-color: $blue;
  height: 100px;
  margin: 0;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 60px;
    text-decoration: none;
  }
  li {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  li:hover {
    border-bottom: $firstC 3px solid;
    border-bottom-width: 50%;
    margin: 0;
    padding: 0;
  }
  .discosTravel {
    position: relative;
    left: -250px;
    color: $firstC;
    font-size: 20px;
    letter-spacing: 5px;
    border-bottom: none;
    span {
      font-size: 80px;
      font-weight: 600;
    }
    .travel {
      color: white;
      font-size: 20px;
      .t {
        font-size: 50px;
      }
    }
		.fas {
			margin-left: 20px;
		}
  }
  .discosTravel:hover {
    border-bottom: none;
  }
}
