$white: rgb(129, 95, 95);
$rbrown: rosybrown;
.card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 400px;
  height: 600px;
  margin: 20px;
  border-radius: 25px;
  img {
    position: absolute;
    max-width: 400px;
    height: auto;
    opacity: 0.9;
  }
  h3 {
    color: $rbrown;
    margin: 20px 0px;
    z-index: 9999;
  }
  h4 {
    margin-bottom: 10px;
    z-index: 9999;
    color: $white;
  }
  .price {
    font-size: 18px;
    margin-bottom: 10px;
    z-index: 9999;
    color: $white;
    margin-bottom: 25px;
    span {
      font-size: 30px;
    }
  }
  .showButton {
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    background-color: $rbrown;
    margin-bottom: 15px;
    z-index: 9999;
  }
  .moreInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    margin-top: 50px;
    z-index: 9999;
    background-color: rgba(52, 56, 73, 0.8);
    letter-spacing: 2px;
    .rightSide {
      width: 50%;
      p {
        color: white;
        font-size: 18px;
        padding: 3px;
        margin-left: 15px;
      }
      .gallery {
        height: 40px;
        width: 100px;
        margin-left: 40px;
        border: none;
        border-radius: 10px;
        background-color: rgba(136, 144, 180, 0.8);
        color: white;
        font-size: 20px;
      }
    }
    .leftSide {
      width: 50%;
      p {
        color: white;
        font-size: 18px;
        padding: 3px;
        margin-left: 15px;
      }
      .reservation {
        height: 40px;
        width: 110px;
        margin-left: 40px;
        border: none;
        border-radius: 10px;
        background-color: rgba(136, 144, 180, 0.8);
        color: white;
        font-size: 20px;
      }
      .star {
        color: rgb(211, 211, 56);
        font-weight: bolder;
      }
    }
  }
}
